In [18]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/advertising.csv', usecols=['TV', 'radio', 'newspaper', 'sales'])

In [13]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [22]:
numerator = np.sum((df['TV'] - df['TV'].mean())**2)

In [21]:
n = df.shape[0]

In [24]:
var = numerator / (n - 1)

In [25]:
var

7370.94989321608

In [32]:
df['TV'].var()

7370.949893216087

In [33]:
std = df['TV'].std()

In [34]:
tv_avg = df['TV'].mean()

In [35]:
tv_avg + (1.96*std)

315.31680317721987

In [36]:
tv_avg - (1.96*std)

-21.231803177219888

In [37]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [38]:
tv_var    = df['TV'] - df['TV'].mean()
radio_var = df['radio'] - df['radio'].mean()

In [43]:
radio_var = df['radio'] - df['radio'].mean()

In [44]:
tv_var = df['TV'] - df['TV'].mean()

In [48]:
radio_var.head()*tv_var.head()

0    1207.32382
1   -1644.37153
2   -2939.11483
3      80.39547
4    -420.75348
dtype: float64

In [47]:
tv_var.head()

0     83.0575
1   -102.5425
2   -129.8425
3      4.4575
4     33.7575
Name: TV, dtype: float64

In [55]:
cov = np.sum(tv_var*radio_var) / (n-1)

In [54]:
df[['TV', 'radio']].cov()

                TV       radio
TV     7370.949893   69.862492
radio    69.862492  220.427743

In [56]:
std1 = df['TV'].std()

In [57]:
std2 = df['radio'].std()

In [58]:
std1

85.8542363149081

In [59]:
std2

14.846809176168723

In [60]:
corr = cov / (std1*std2)

In [61]:
corr

0.054808664465830076

In [62]:
df[['TV', 'radio']].corr()

             TV     radio
TV     1.000000  0.054809
radio  0.054809  1.000000