In [16]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/advertising.csv', usecols=['TV', 'radio','newspaper','sales'])

In [6]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
df.shape

(200, 4)

In [11]:
(((df.TV - df.TV.mean()) ** 2).sum())/(len(df.TV) - 1)

7370.94989321608

In [21]:
np.sum(((df.TV - df.TV.mean())**2))/(df.shape[0] - 1)

7370.94989321608

In [22]:
numerator = (((df.TV - df.TV.mean()) ** 2).sum())
n = df.shape[0]

In [23]:
var = numerator/(n - 1)

In [24]:
var

7370.94989321608

In [25]:
df.TV.var()

7370.949893216087

In [26]:
numerator = (((df.radio - df.radio.mean()) ** 2).sum())
n = df.shape[0]
var = numerator/(n - 1)
var

220.42774271356785

In [27]:
df.radio.var()

220.4277427135678

In [29]:
np.sqrt(df.radio.var())

14.846809176168723

In [35]:
std = df.TV.std()

In [31]:
df.TV.mean()

147.0425

In [36]:
df.TV.mean() + (1.96*std)

315.31680317721987

In [37]:
df.TV.mean() - (1.96*std)

-21.231803177219888

In [38]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [40]:
np.sum((df.TV-df.TV.mean())* (df.radio - df.radio.mean()))/(len(df.TV) - 1)

69.86249246231154

In [44]:
df[['TV', 'radio']].cov()

                TV       radio
TV     7370.949893   69.862492
radio    69.862492  220.427743

In [45]:
df.cov()

                    TV       radio   newspaper       sales
TV         7370.949893   69.862492  105.919452  350.390195
radio        69.862492  220.427743  114.496979   44.635688
newspaper   105.919452  114.496979  474.308326   25.941392
sales       350.390195   44.635688   25.941392   27.221853

In [46]:
??df.cov