In [1]:
True or False

True

In [3]:
False or False

False

In [4]:
2 == 3 or 4 == 5

False

In [5]:
True and False

False

In [9]:
(True or False) and (False and False)

False

In [ ]:
True or False and False

In [ ]:
(True or False) and False and False

In [ ]:
(True and False) and False

In [ ]:
False and False

In [15]:
if False: 
    # you do something here
    print("The statement is True.")
print("So is this.")

So is this.

In [23]:
if None:
    print("It's True.")

In [17]:
x = 4

In [19]:
if x == 5 or x ==  3 or x == 2:
    print("It's True.")

In [24]:
not True

False

In [25]:
not False

True

In [26]:
var = 'this is a string'

In [29]:
not var.isdigit()

True

In [ ]:
if var == 'this is a string':
    if len(var) > 12:
        print("It's a string and it's greater than 12.")
    else:
        print("It's something else.")
    print("This will always print.")

In [34]:
if x == 4:
    print("It's True.")
if x == 4:
    print("Elif is True.")
else:
    print("It's not.")

It's True.
Elif is True.

In [37]:
the_list = [5, 6, 9, True, False, 'this', 'that']

In [39]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/JonathanBechtel/data/master/boston.csv')

In [40]:
the_list[0]

5

In [41]:
the_list[1]

6

In [42]:
the_list[2]

9

In [43]:
the_list[-1]

'that'

In [44]:
the_list[-2]

'this'

In [45]:
the_list.pop()

'that'

In [46]:
the_list

[5, 6, 9, True, False, 'this']

In [47]:
the_list.append([1, 2, 3, 4, 5])

In [48]:
the_list

[5, 6, 9, True, False, 'this', [1, 2, 3, 4, 5]]

In [49]:
dir(the_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
if 1 in the_list:
    print("It's True.")

It's True.

In [52]:
the_list[-1]

[1, 2, 3, 4, 5]

In [53]:
df.values

array([[0.0000e+00, 6.3200e-03, 6.5750e+00, ..., 1.5300e+01, 4.9800e+00,
        2.4000e+01],
       [1.0000e+00, 2.7310e-02, 6.4210e+00, ..., 1.7800e+01, 9.1400e+00,
        2.1600e+01],
       [2.0000e+00, 2.7290e-02, 7.1850e+00, ..., 1.7800e+01, 4.0300e+00,
        3.4700e+01],
       ...,
       [5.0300e+02, 6.0760e-02, 6.9760e+00, ..., 2.1000e+01, 5.6400e+00,
        2.3900e+01],
       [5.0400e+02, 1.0959e-01, 6.7940e+00, ..., 2.1000e+01, 6.4800e+00,
        2.2000e+01],
       [5.0500e+02, 4.7410e-02, 6.0300e+00, ..., 2.1000e+01, 7.8800e+00,
        1.1900e+01]])

In [55]:
df[:2]

   Unnamed: 0     CRIM     RM     DIS    TAX  PTRATIO  LSTAT  PRICE
0           0  0.00632  6.575  4.0900  296.0     15.3   4.98   24.0
1           1  0.02731  6.421  4.9671  242.0     17.8   9.14   21.6

In [ ]:
df.iloc[1, 3]

In [56]:
the_list[2:6]

[9, True, False, 'this']

In [57]:
# this grabs the first 4 items
the_list[:4]

[5, 6, 9, True]

In [58]:
# this grabs items starting at position 3 and goes until the end
the_list[3:]

[True, False, 'this', [1, 2, 3, 4, 5]]

In [59]:
df[:10]

   Unnamed: 0     CRIM     RM     DIS    TAX  PTRATIO  LSTAT  PRICE
0           0  0.00632  6.575  4.0900  296.0     15.3   4.98   24.0
1           1  0.02731  6.421  4.9671  242.0     17.8   9.14   21.6
2           2  0.02729  7.185  4.9671  242.0     17.8   4.03   34.7
3           3  0.03237  6.998  6.0622  222.0     18.7   2.94   33.4
4           4  0.06905  7.147  6.0622  222.0     18.7   5.33   36.2
5           5  0.02985  6.430  6.0622  222.0     18.7   5.21   28.7
6           6  0.08829  6.012  5.5605  311.0     15.2  12.43   22.9
7           7  0.14455  6.172  5.9505  311.0     15.2  19.15   27.1
8           8  0.21124  5.631  6.0821  311.0     15.2  29.93   16.5
9           9  0.17004  6.004  6.5921  311.0     15.2  17.10   18.9

In [64]:
kitten = 27

In [65]:
for kitten in the_list:
    print(kitten)

5
6
9
True
False
this
[1, 2, 3, 4, 5]

In [66]:
kitten

[1, 2, 3, 4, 5]

In [67]:
for index, item in enumerate(the_list):
    print(index, item)

0 5
1 6
2 9
3 True
4 False
5 this
6 [1, 2, 3, 4, 5]

In [68]:
for item in enumerate(the_list):
    print(item)

(0, 5)
(1, 6)
(2, 9)
(3, True)
(4, False)
(5, 'this')
(6, [1, 2, 3, 4, 5])

In [71]:
import os

In [74]:
path = '../../../../../Downloads'

In [76]:
the_string = 'my piece of text'

In [77]:
the_string[:5]

'my pi'

In [78]:
for file in os.listdir(path):
    if file[-4:] == '.csv':
        print(file)

1500340.csv
1500343.csv
1500345.csv
AAPL.csv
AirPassengers.csv
amis (1).csv
amis.csv
bike_requests.csv
births.csv
callers.csv
data (1).csv
data (2).csv
data (3).csv
data (4).csv
data (5).csv
data.csv
file_upload_csv_template_08122008.csv
grocery_sales.csv
IEF.csv
iowa_housing.csv
lreg_answers.csv
mixture.csv
MSFT.csv
Output.csv
Owners.csv
pctgrowth.csv
Pets.csv
potions.csv
ProceduresDetails.csv
ProceduresHistory-1.csv
StackingSubmission.csv
submission (1).csv
submission (2).csv
submission.csv
test (1).csv
test.csv
train.csv
^GSPC.csv
_244865a4d5a9a1dfcba2c8b19040de4f_callers.csv
_a0f69303566ab5afce696cd01f5f9a90_daily-total-female-births-in-cal (1).csv

In [73]:
pwd

'C:\\Users\\Jonat\\ga\\DAT-10-14\\class material\\Unit1\\Class2'