<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab: Cleaning Rock Song Data

_Authors: Dave Yerrington (SF)_

---

In [61]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [85]:
rockfile = "/Users/devonbancroft/Desktop/Devon-GA-DAT-10-14/data/rock.csv"

In [86]:
df = pd.read_csv(rockfile)

In [87]:
df.head(1)

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [65]:
df = pd.read_csv(rockfile, names = ['Song', 'Artist', 'Release Year', 'Combined', 'First?', 'Year?', 'PlayCount', 'F*G'], skiprows=1)

In [66]:
?pd.read_csv

In [67]:
df.head(1)

,Song,Artist,Release Year,Combined,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [88]:
df = df.rename(columns = {'Song Clean': 'Song', 'ARTIST CLEAN': 'Artist', 'Release Year':'release'})

In [89]:
df.head(1)

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [90]:
df[df.release.isnull() == True].head(5)

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [91]:
df.loc[df.release.isnull() == True,'release'] = 0
df[df.release.isnull() == False].head(5)

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 4.B Verify that `release` contains no null values.

In [92]:
df[df.release.isnull() == True].release.sum()

0

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [93]:
df.head()

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [94]:
df[df.release.str.isdigit() == False]

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [95]:
df.loc[df.release.str.isdigit() == False, 'release']

1504    SONGFACTS.COM
Name: release, dtype: object

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [96]:
df[df.release.str.isdigit() == False]

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [98]:
df.loc[df.release.str.isdigit() == False, 'release'] = 0

In [100]:
df = df.astype({'release': 'int32'})

In [104]:
df.release.sort_values()

547     1071.0
148     1955.0
341     1958.0
1759    1961.0
1804    1962.0
258     1962.0
1795    1962.0
1807    1963.0
1783    1963.0
1782    1963.0
1747    1963.0
1768    1963.0
1818    1963.0
1791    1963.0
1831    1963.0
1794    1963.0
1757    1964.0
1939    1964.0
1819    1964.0
1786    1964.0
1785    1964.0
1750    1964.0
1929    1964.0
1473    1964.0
1781    1964.0
1730    1964.0
1744    1964.0
1107    1964.0
1764    1964.0
1829    1964.0
         ...
1566    2003.0
856     2004.0
736     2004.0
739     2004.0
740     2004.0
2103    2004.0
634     2005.0
2032    2005.0
1562    2005.0
1186    2005.0
1187    2005.0
1399    2006.0
976     2007.0
308     2007.0
639     2007.0
980     2008.0
981     2008.0
1846    2008.0
1855    2011.0
1856    2011.0
640     2011.0
903     2012.0
1462    2012.0
904     2012.0
978     2012.0
805     2012.0
1282    2013.0
1284    2013.0
40      2014.0
331     2014.0
Name: release, Length: 2230, dtype: float64

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [78]:
df.loc[df.release == 0, 'release'] = NaN

In [79]:
df = df.astype({'release': 'int32'})

In [103]:
df.loc[df.release == 0, 'release'] = df[df.release != 0].release.mean()

In [105]:
df.loc[df.release == 1071, 'release'] = df[df.release != 0].release.mean()

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [106]:
df.release.describe()

count    2230.000000
mean     1978.426711
std         8.013509
min      1955.000000
25%      1973.000000
50%      1978.019976
75%      1981.000000
max      2014.000000
Name: release, dtype: float64

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [16]:
# A:

In [107]:
df.head(1)

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982.0,Caught Up in You by .38 Special,1,1,82,82

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [121]:
def print_stats(val):
    if val['release'] < 1970:
        return val.Song, val.Artist, "released before 1970"
    else:
        return val.Song, val.Artist, "NOT released before 1970"

df.apply(print_stats, axis=1)

0       (Caught Up in You, .38 Special, NOT released b...
1       (Fantasy Girl, .38 Special, NOT released befor...
2       (Hold On Loosely, .38 Special, NOT released be...
3       (Rockin' Into the Night, .38 Special, NOT rele...
4       (Art For Arts Sake, 10cc, NOT released before ...
5       (Kryptonite, 3 Doors Down, NOT released before...
6         (Loser, 3 Doors Down, NOT released before 1970)
7       (When I'm Gone, 3 Doors Down, NOT released bef...
8       (What's Up?, 4 Non Blondes, NOT released befor...
9            (Take On Me, a-ha, NOT released before 1970)
10      (Baby, Please Don't Go, AC/DC, NOT released be...
11       (Back In Black, AC/DC, NOT released before 1970)
12             (Big Gun, AC/DC, NOT released before 1970)
13      (CAN'T STOP ROCK'N'ROLL, AC/DC, NOT released b...
14      (Dirty Deeds Done Dirt Cheap, AC/DC, NOT relea...
15      (For Those About To Rock, AC/DC, NOT released ...
16      (Girls Got Rhythm, AC/DC, NOT released before ...
17      (Hard As A Rock, AC/DC, NOT released before 1970)
18      (Have a Drink On Me, AC/DC, NOT released befor...
19         (Hells Bells, AC/DC, NOT released before 1970)
20      (Highway To Hell, AC/DC, NOT released before 1...
21      (It's A Long Way To The Top, AC/DC, NOT releas...
22           (Jailbreak, AC/DC, NOT released before 1970)
23      (Let There Be Rock, AC/DC, NOT released before...
24      (Let's Get It Up, AC/DC, NOT released before 1...
25           (Live Wire, AC/DC, NOT released before 1970)
26          (Moneytalks, AC/DC, NOT released before 1970)
27       (Night Prowler, AC/DC, NOT released before 1970)
28      (Rock and Roll Ain't Noise Pollution, AC/DC, N...
29      (Shoot To Thrill, AC/DC, NOT released before 1...
                              ...
2200    (Owner of a Lonely Heart, Yes, NOT released be...
2201          (Roundabout, Yes, NOT released before 1970)
2202    (Starship Trooper, Yes, NOT released before 1970)
2203    (Wonderous Stories, Yes, NOT released before 1...
2204    (Yours Is No Disgrace, Yes, NOT released befor...
2205    (Tell Me What You Want, Zebra, NOT released be...
2206    (Who's Behind The Door, Zebra, NOT released be...
2207    (Time of the Season, Zombies, released before ...
2208    (A Fool for Your Stockings, ZZ Top, NOT releas...
2209    (Arrested For Driving While Blind, ZZ Top, NOT...
2210    (Beer Drinkers & Hell Raisers, ZZ Top, NOT rel...
2211    (Cheap Sunglasses, ZZ Top, NOT released before...
2212    (Gimme All Your Lovin, ZZ Top, NOT released be...
2213    (Got Me Under Pressure, ZZ Top, NOT released b...
2214    (Heard It On the X, ZZ Top, NOT released befor...
2215      (I Thank You, ZZ Top, NOT released before 1970)
2216    (I'm Bad, I'm Nationwide, ZZ Top, NOT released...
2217    (Jesus Just Left Chicago, ZZ Top, NOT released...
2218    (Just Got Paid, ZZ Top, NOT released before 1970)
2219        (La Grange, ZZ Top, NOT released before 1970)
2220             (Legs, ZZ Top, NOT released before 1970)
2221    (My Head's In Mississippi, ZZ Top, NOT release...
2222    (Party On The Patio, ZZ Top, NOT released befo...
2223    (Pearl Necklace, ZZ Top, NOT released before 1...
2224    (Sharp Dressed Man, ZZ Top, NOT released befor...
2225    (She Loves My Automobile, ZZ Top, NOT released...
2226    (Tube Snake Boogie, ZZ Top, NOT released befor...
2227             (Tush, ZZ Top, NOT released before 1970)
2228       (TV Dinners, ZZ Top, NOT released before 1970)
2229    (WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO, ...
Length: 2230, dtype: object

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [122]:
def print_stats(val):
    if val['release'] < 1970:
        return val.Song, val.Artist, "released before 1970"
    else:
        return val.Song, val.Artist, "NOT released before 1970"
df.apply(print_stats, axis=1)

0       (Caught Up in You, .38 Special, NOT released b...
1       (Fantasy Girl, .38 Special, NOT released befor...
2       (Hold On Loosely, .38 Special, NOT released be...
3       (Rockin' Into the Night, .38 Special, NOT rele...
4       (Art For Arts Sake, 10cc, NOT released before ...
5       (Kryptonite, 3 Doors Down, NOT released before...
6         (Loser, 3 Doors Down, NOT released before 1970)
7       (When I'm Gone, 3 Doors Down, NOT released bef...
8       (What's Up?, 4 Non Blondes, NOT released befor...
9            (Take On Me, a-ha, NOT released before 1970)
10      (Baby, Please Don't Go, AC/DC, NOT released be...
11       (Back In Black, AC/DC, NOT released before 1970)
12             (Big Gun, AC/DC, NOT released before 1970)
13      (CAN'T STOP ROCK'N'ROLL, AC/DC, NOT released b...
14      (Dirty Deeds Done Dirt Cheap, AC/DC, NOT relea...
15      (For Those About To Rock, AC/DC, NOT released ...
16      (Girls Got Rhythm, AC/DC, NOT released before ...
17      (Hard As A Rock, AC/DC, NOT released before 1970)
18      (Have a Drink On Me, AC/DC, NOT released befor...
19         (Hells Bells, AC/DC, NOT released before 1970)
20      (Highway To Hell, AC/DC, NOT released before 1...
21      (It's A Long Way To The Top, AC/DC, NOT releas...
22           (Jailbreak, AC/DC, NOT released before 1970)
23      (Let There Be Rock, AC/DC, NOT released before...
24      (Let's Get It Up, AC/DC, NOT released before 1...
25           (Live Wire, AC/DC, NOT released before 1970)
26          (Moneytalks, AC/DC, NOT released before 1970)
27       (Night Prowler, AC/DC, NOT released before 1970)
28      (Rock and Roll Ain't Noise Pollution, AC/DC, N...
29      (Shoot To Thrill, AC/DC, NOT released before 1...
                              ...
2200    (Owner of a Lonely Heart, Yes, NOT released be...
2201          (Roundabout, Yes, NOT released before 1970)
2202    (Starship Trooper, Yes, NOT released before 1970)
2203    (Wonderous Stories, Yes, NOT released before 1...
2204    (Yours Is No Disgrace, Yes, NOT released befor...
2205    (Tell Me What You Want, Zebra, NOT released be...
2206    (Who's Behind The Door, Zebra, NOT released be...
2207    (Time of the Season, Zombies, released before ...
2208    (A Fool for Your Stockings, ZZ Top, NOT releas...
2209    (Arrested For Driving While Blind, ZZ Top, NOT...
2210    (Beer Drinkers & Hell Raisers, ZZ Top, NOT rel...
2211    (Cheap Sunglasses, ZZ Top, NOT released before...
2212    (Gimme All Your Lovin, ZZ Top, NOT released be...
2213    (Got Me Under Pressure, ZZ Top, NOT released b...
2214    (Heard It On the X, ZZ Top, NOT released befor...
2215      (I Thank You, ZZ Top, NOT released before 1970)
2216    (I'm Bad, I'm Nationwide, ZZ Top, NOT released...
2217    (Jesus Just Left Chicago, ZZ Top, NOT released...
2218    (Just Got Paid, ZZ Top, NOT released before 1970)
2219        (La Grange, ZZ Top, NOT released before 1970)
2220             (Legs, ZZ Top, NOT released before 1970)
2221    (My Head's In Mississippi, ZZ Top, NOT release...
2222    (Party On The Patio, ZZ Top, NOT released befo...
2223    (Pearl Necklace, ZZ Top, NOT released before 1...
2224    (Sharp Dressed Man, ZZ Top, NOT released befor...
2225    (She Loves My Automobile, ZZ Top, NOT released...
2226    (Tube Snake Boogie, ZZ Top, NOT released befor...
2227             (Tush, ZZ Top, NOT released before 1970)
2228       (TV Dinners, ZZ Top, NOT released before 1970)
2229    (WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO, ...
Length: 2230, dtype: object

In [123]:
df['Stats'] = df.head(4).apply(print_stats, axis=1)

In [124]:
df.head(10)

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G,Stats
0,Caught Up in You,.38 Special,1982.000000,Caught Up in You by .38 Special,1,1,82,82,"(Caught Up in You, .38 Special, NOT released b..."
1,Fantasy Girl,.38 Special,1978.019976,Fantasy Girl by .38 Special,1,0,3,0,"(Fantasy Girl, .38 Special, NOT released befor..."
2,Hold On Loosely,.38 Special,1981.000000,Hold On Loosely by .38 Special,1,1,85,85,"(Hold On Loosely, .38 Special, NOT released be..."
3,Rockin' Into the Night,.38 Special,1980.000000,Rockin' Into the Night by .38 Special,1,1,18,18,"(Rockin' Into the Night, .38 Special, NOT rele..."
4,Art For Arts Sake,10cc,1975.000000,Art For Arts Sake by 10cc,1,1,1,1,NaN
5,Kryptonite,3 Doors Down,2000.000000,Kryptonite by 3 Doors Down,1,1,13,13,NaN
6,Loser,3 Doors Down,2000.000000,Loser by 3 Doors Down,1,1,1,1,NaN
7,When I'm Gone,3 Doors Down,2002.000000,When I'm Gone by 3 Doors Down,1,1,6,6,NaN
8,What's Up?,4 Non Blondes,1992.000000,What's Up? by 4 Non Blondes,1,1,3,3,NaN
9,Take On Me,a-ha,1985.000000,Take On Me by a-ha,1,1,1,1,NaN

In [ ]:
new_cols = [col.lower() for col in df.columns.tolist()]
rock.columns = new_cols

In [ ]:
df['release'] = df.release.astype(str)

In [125]:
df[~df.release.str.isdigit()]

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [126]:
df.head()

,Song,Artist,release,COMBINED,First?,Year?,PlayCount,F*G,Stats
0,Caught Up in You,.38 Special,1982.000000,Caught Up in You by .38 Special,1,1,82,82,"(Caught Up in You, .38 Special, NOT released b..."
1,Fantasy Girl,.38 Special,1978.019976,Fantasy Girl by .38 Special,1,0,3,0,"(Fantasy Girl, .38 Special, NOT released befor..."
2,Hold On Loosely,.38 Special,1981.000000,Hold On Loosely by .38 Special,1,1,85,85,"(Hold On Loosely, .38 Special, NOT released be..."
3,Rockin' Into the Night,.38 Special,1980.000000,Rockin' Into the Night by .38 Special,1,1,18,18,"(Rockin' Into the Night, .38 Special, NOT rele..."
4,Art For Arts Sake,10cc,1975.000000,Art For Arts Sake by 10cc,1,1,1,1,NaN