In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
with open('myFirstPickle.pkl', 'rb') as myfile:
    lasso_variable = pickle.load(myfile)

In [3]:
lasso_variable

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [4]:
df = pd.read_csv('/Users/devonbancroft/Desktop/DAT-10-14/class material/Unit3/Data/housing.csv')

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
X = df.iloc[:,:-1]
y=df.PRICE

In [10]:
lasso_variable.predict(X)[0:40]

array([30.99753918, 25.77681736, 29.98601449, 29.51799813, 28.03248999,
       27.51646227, 24.45293184, 19.85336661, 11.03931099, 20.52605621,
       18.71479862, 23.71489343, 21.29343807, 23.00230206, 22.11886587,
       22.75172373, 23.61803725, 18.78578281, 19.10486158, 21.20798678,
       14.09072701, 19.76581421, 16.29993566, 15.19500443, 17.71165463,
       16.27524379, 18.33302342, 16.19742417, 20.83317947, 21.544969  ,
       12.52178368, 20.42354328,  7.69871551, 16.04921556, 14.02760753,
       24.96848713, 23.2488128 , 24.63915134, 23.5014159 , 31.55393156])