In [7]:
True or False

True

In [2]:
2 == 3

False

In [3]:
False

False

In [8]:
False or False

False

In [9]:
False

False

In [10]:
True or True

True

In [11]:
False and False

False

In [12]:
True and False

False

In [13]:
2 == 3 or 4==4

True

In [14]:
True or False and False and False

True

In [16]:
(True or False) and (False and False)

False

In [19]:
True or False & False and False

True

In [20]:
(True or False) and (False and False)

False

In [39]:
if True:
    print("Hello")
    print("OK")

Hello
OK

In [43]:
if 'this':
    print("Its true")

Its true

In [50]:
x = 3
if x == 5 or 1 or 2:
    print("Hello")

Hello

In [54]:
if 0:
    print("Its true")

In [55]:
if None:
    print("Its true")

In [56]:
not True

False

In [57]:
not False

True

In [58]:
var = 'this is string'

In [59]:
var.isdigit()

False

In [63]:
if not var.isdigit():
    print("not numbers")

not numbers

In [64]:
if var == 'this is string':
    if not var.isdigit():
        print("True")

True

In [65]:
if var == 'this is string':
    if not var.isdigit():
        print("True")
    else:
        print("False")
    print("Good job")

True
Good job

In [81]:
if x == 3:
    print("its true")
elif x == 3:
    print("elif is true")
else:
    print("not true")

its true

In [82]:
x

3

In [ ]:
answer = input()

In [ ]:
answer

In [94]:
the_list = [3, 5, 6, True, False, "this", "that"]

In [132]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/JonathanBechtel/data/master/boston.csv')

In [110]:
the_list[0]

3

In [111]:
the_list[1]

5

In [114]:
the_list.pop()

'that'

In [117]:
the_list.append([1, 2, 3, 4, 5])

In [118]:
the_list

[3, 5, 6, True, False, 'this', 'that', [1, 2, 3, 4, 5]]

In [120]:
dir(the_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [127]:
the_list[-1]

[1, 2, 3, 4, 5]

In [129]:
if 1 in the_list:
    print("Its true")

Its true

In [133]:
df.values

array([[0.0000e+00, 6.3200e-03, 6.5750e+00, ..., 1.5300e+01, 4.9800e+00,
        2.4000e+01],
       [1.0000e+00, 2.7310e-02, 6.4210e+00, ..., 1.7800e+01, 9.1400e+00,
        2.1600e+01],
       [2.0000e+00, 2.7290e-02, 7.1850e+00, ..., 1.7800e+01, 4.0300e+00,
        3.4700e+01],
       ...,
       [5.0300e+02, 6.0760e-02, 6.9760e+00, ..., 2.1000e+01, 5.6400e+00,
        2.3900e+01],
       [5.0400e+02, 1.0959e-01, 6.7940e+00, ..., 2.1000e+01, 6.4800e+00,
        2.2000e+01],
       [5.0500e+02, 4.7410e-02, 6.0300e+00, ..., 2.1000e+01, 7.8800e+00,
        1.1900e+01]])

In [142]:
df[:2]

   Unnamed: 0     CRIM     RM     DIS    TAX  PTRATIO  LSTAT  PRICE
0           0  0.00632  6.575  4.0900  296.0     15.3   4.98   24.0
1           1  0.02731  6.421  4.9671  242.0     17.8   9.14   21.6

In [143]:
df.iloc[3, 2]

6.997999999999999

In [147]:
the_list[2:4]

[6, True]

In [145]:
the_list

[3, 5, 6, True, False, 'this', 'that', [1, 2, 3, 4, 5]]

In [146]:
#this grabs the first four items
the_list[:4]

[3, 5, 6, True]

In [154]:
the_list[::2]

[3, 6, False, 'that']

In [155]:
#kitten can be any name
kitten = "hello"
for kitten in the_list:
    print(kitten)

3
5
6
True
False
this
that
[1, 2, 3, 4, 5]

In [156]:
print(kitten)

[1, 2, 3, 4, 5]

In [157]:
any("password")

True

In [163]:
for index in enumerate(the_list):
    print(index, item)

(0, 3)
(1, 5)
(2, 6)
(3, True)
(4, False)
(5, 'this')
(6, 'that')
(7, [1, 2, 3, 4, 5])

In [164]:
for i in the_list:
    print(i)

3
5
6
True
False
this
that
[1, 2, 3, 4, 5]

In [165]:
for index, item in enumerate(the_list):
    print(index, item)

0 3
1 5
2 6
3 True
4 False
5 this
6 that
7 [1, 2, 3, 4, 5]

In [168]:
for item in enumerate(the_list):
    print(item)

(0, 3)
(1, 5)
(2, 6)
(3, True)
(4, False)
(5, 'this')
(6, 'that')
(7, [1, 2, 3, 4, 5])

In [170]:
type(enumerate(the_list))

enumerate